#Col1, #Col2, .field1, .monthField, .field2, .field3, .confirm{
    float: left;
}

#Col1, #Col2 {
    margin-top: 20px;
    margin-right: 50px;
}

input {
    margin-right: 10px;
}

select {
    margin-right: 10px;
}